{% extends 'base.html' %}

{% block title_block%}
Decodes Lab SDN BHD
{% endblock%}

{% block body_block%}

<div class="wow animate__zoomIn ">
   <div class="position-relative "
     style="
       background-image: url('https://images.unsplash.com/photo-1498050108023-c5249f4df085?q=80&w=1472&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
       height: 400px;
       width: 100%;
       background-repeat: no-repeat;
       background-position: center;
       
       /* filter: blur(5px); */
       /* opacity: 70%;    */
       /* mask: 5px;  */
     "
   >
        <div class="" style="height: 100%; width: 100%; background-color: rgba(0, 0, 0,0.7);">
           <h2 class="text-white mt-5 ms-5 position-absolute top-50 rounded p-3 fs-1 "  >
            <b> Asset Management </b>
           </h2>
         </div>
     
   </div>
</div>

 <!-- body content  -->
<div class="container-fluid wow animate__zoomIn">
    <div class="row">
        
        <div class="col-12 " style="background-color: #F1F1F1;">
            <div class="ms-5 my-5 " >
                <p class="text-primary fs-5">
                    - Our Asset Management Solutions Offerings
                </p>
                <h3>
                    Optimize Your Assets with Comprehensive Asset Management Solutions
                </h3>
                <p>
                    Welcome to our Asset Management Solutions page, where we offer a suite of innovative tools and technologies designed to streamline asset tracking, enhance visibility, and maximize the efficiency of your asset management processes. In today’s dynamic business environment, our comprehensive Asset Management Solutions cater to the diverse needs of industries, providing a robust framework for effective asset optimization.
              </p>
            </div>
        </div>


        <div class="col-12 " >
            <div class="ms-5 my-5 " >
                
                <p class="text-primary fs-5">
                    Asset Tracking and Identification
                </p>
                <p>
                    – Utilize advanced tracking technologies for real-time asset location. <br>
                    – RFID and barcode solutions for accurate identification and streamlined tracking.
                <p class="text-primary fs-5">
                    Inventory Management Integration
                </p>
                <p>
                    – Seamless integration with inventory management systems for comprehensive control. <br>
                    – Automated updates for precise inventory levels and efficient restocking.
                </p>
                <p class="text-primary fs-5">
                    Maintenance and Lifecycle Management
                </p>
                <p>
                    – Proactive maintenance scheduling to prevent downtime and extend asset life. <br>
                    – Full lifecycle management for strategic planning and asset optimization.
                </p>
                <p class="text-primary fs-5">
                    Risk and Compliance Monitoring
                </p>
                <p>
                    – Monitor asset conditions to identify potential risks and ensure compliance. <br>

                    – Automated alerts and notifications for timely preventive actions.
                </p>
                <p class="text-primary fs-5">
                    Data Analytics and Reporting
                </p>
                <p>
                    – Utilize data analytics for insights into asset performance and usage. <br>
                    – Customizable reports for strategic decision-making and compliance reporting.
                </p>
                <p class="text-primary fs-5">
                    User Training and Support
                </p>
                <p>
                    – Comprehensive training programs to ensure effective use of asset management systems. <br>
                    – Responsive support services to address any queries or challenges.


                </p>
               
            </div>
        </div>
    </div>

</div>



 <!-- end body content  -->

 <!-- before footer  -->
<div class="wow animate__zoomIn ">
  <div class="d-flex "
    style="
      background-image: url('https://images.unsplash.com/photo-1587560699334-bea93391dcef?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
      height: 400px;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      /* filter: blur(5px); */
      /* opacity: 70%;    */
      /* mask: 5px;  */
    "
  >
       <div class="d-flex justify-content-center align-items-center flex-column mb-3 " style="height: 100%; width: 100%; background-color: rgba(0, 0, 0,0.7);">
          <div class="  text-white text-center fs-1 ">
            <b>Ready to Grow Your Business?</b>
          </div>
          <div class=" text-white text-center fs-5 ">Explore cutting-edge IT solutions. Start your journey to innovation now!</div>
          <a class="btn-outline-primary btn mt-2 fs-5 text-white text-decoration-none rounded p-3 text-center" href="{% url 'contact' %}">Connect With US</a>
       </div>
    
  </div>
</div>




{% endblock %}