{% extends 'base.html' %}

{% block title_block%}
Decodes Lab SDN BHD
{% endblock%}

{% block body_block%}

<div class=" wow animate__zoomIn">
   <div class="position-relative "
     style="
       background-image: url('https://images.unsplash.com/photo-1498050108023-c5249f4df085?q=80&w=1472&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
       height: 400px;
       width: 100%;
       background-repeat: no-repeat;
       background-position: center;
       
       /* filter: blur(5px); */
       /* opacity: 70%;    */
       /* mask: 5px;  */
     "
   >
        <div class="" style="height: 100%; width: 100%; background-color: rgba(0, 0, 0,0.7);">
           <h2 class="text-white mt-5 ms-5 position-absolute top-50 rounded p-3 fs-1 "  >
            <b> Supply Chain Management </b>
           </h2>
         </div>
     
   </div>
</div>

 <!-- body content  -->
<div class="container-fluid wow animate__zoomIn">
    <div class="row">
        
        <div class="col-12 " style="background-color: #F1F1F1;">
            <div class="ms-5 my-5 " >
                <p class="text-primary fs-5">
                    - Our SCM Solutions Offerings
                </p>
                <h3>
                    Empower Your Business with Cutting-Edge Supply Chain Management Solutions
                </h3>
                <p>
                    Welcome to our Supply Chain Management (SCM) Solutions page, where we offer innovative and tailored solutions to optimize your end-to-end supply chain processes. In the fast-paced world of global commerce, our comprehensive suite of SCM solutions is designed to enhance visibility, streamline operations, and drive efficiency throughout your supply chain.
              </p>
            </div>
        </div>


        <div class="col-12 " >
            <div class="ms-5 my-5 " >
                
                <p class="text-primary fs-5">
                    Supply Chain Visibility
                </p>
                <p>
                    – Real-time tracking of inventory, shipments, and production status. <br>
                    – Enhanced visibility to make informed decisions and respond to changes proactively.
                <p class="text-primary fs-5">
                    Inventory Management
                </p>
                <p>
                    – Efficient management of stock levels, reducing excess and preventing stockouts. <br>
                    – Automated replenishment processes to ensure optimal inventory levels.
                </p>
                <p class="text-primary fs-5">
                    Order Fulfillment Automation
                </p>
                <p>
                    – Streamlined order processing from purchase to delivery. <br>
                    – Automation of fulfillment processes for quicker and error-free order execution.
                <p class="text-primary fs-5">
                    Supplier Collaboration

                </p>
                <p>
                    – Collaborative platforms for seamless communication with suppliers. <br>
                    – Supplier performance monitoring to ensure reliability and efficiency.
                </p>
                <p class="text-primary fs-5">
                    Demand Planning and Forecasting
                </p>
                <p>
                    – Advanced analytics for accurate demand forecasting. <br>
                    – Data-driven insights to optimize production and minimize excess inventory.
                </p>
                <p class="text-primary fs-5">
                    Transportation Management
                </p>
                <p>
                    – Optimization of transportation routes and modes. <br>
                    – Real-time tracking of shipments for improved logistics efficiency.

                </p>
               
            </div>
        </div>
    </div>

</div>



 <!-- end body content  -->

 <!-- before footer  -->
<div class=" wow animate__zoomIn">
  <div class="d-flex "
    style="
      background-image: url('https://images.unsplash.com/photo-1587560699334-bea93391dcef?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
      height: 400px;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      /* filter: blur(5px); */
      /* opacity: 70%;    */
      /* mask: 5px;  */
    "
  >
       <div class="d-flex justify-content-center align-items-center flex-column mb-3 " style="height: 100%; width: 100%; background-color: rgba(0, 0, 0,0.7);">
          <div class="  text-white text-center fs-1 ">
            <b>Ready to Grow Your Business?</b>
          </div>
          <div class=" text-white text-center fs-5 ">Explore cutting-edge IT solutions. Start your journey to innovation now!</div>
          <a class="btn-outline-primary btn mt-2 fs-5 text-white text-decoration-none rounded p-3 text-center" href="{% url 'contact' %}">Connect With US</a>
       </div>
    
  </div>
</div>




{% endblock %}