{% extends 'base.html' %}

{% block title_block%}
Decodes Lab SDN BHD
{% endblock%}

{% block body_block%}

<div class="wow animate__zoomIn ">
   <div class="position-relative "
     style="
       background-image: url('https://images.unsplash.com/photo-1498050108023-c5249f4df085?q=80&w=1472&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
       height: 400px;
       width: 100%;
       background-repeat: no-repeat;
       background-position: center;
       
       /* filter: blur(5px); */
       /* opacity: 70%;    */
       /* mask: 5px;  */
     "
   >
        <div class="" style="height: 100%; width: 100%; background-color: rgba(0, 0, 0,0.7);">
           <h2 class="text-white mt-5 ms-5 position-absolute top-50 rounded p-3 fs-1 "  >
            <b> CRM Services </b>
           </h2>
         </div>
     
   </div>
</div>

 <!-- body content  -->
<div class="container-fluid wow animate__zoomIn">
    <div class="row">
        
        <div class="col-12 " style="background-color: #F1F1F1;">
            <div class="ms-5 my-5 " >
                <p class="text-primary fs-5">
                    - Our CRM Services Offerings
                </p>
                <h3>
                    Elevate Customer Relationships with Our CRM Services
                </h3>
                <p>
                    Welcome to our CRM Services, where we empower businesses to cultivate and strengthen customer relationships through cutting-edge Customer Relationship Management solutions. In a competitive marketplace, understanding and engaging with your customers is paramount. Our comprehensive suite of CRM services is designed to help you leverage technology to enhance customer interactions, streamline processes, and drive business growth.
              </p>
            </div>
        </div>


        <div class="col-12 " >
            <div class="ms-5 my-5 " >
                
                <p class="text-primary fs-5">
                    CRM Implementation and Integration
                </p>
                <p>
                    – Seamless implementation of CRM solutions tailored to your business needs. <br>
                    – Integration with existing systems for a unified view of customer interactions.
                </p>
                <p class="text-primary fs-5">
                    Customized CRM Development
                </p>
                <p>
                    – Crafting bespoke CRM solutions to match your unique business processes. <br>
                    – Tailoring features and functionalities to align with your specific requirements.
                </p>
                <p class="text-primary fs-5">
                    CRM Consulting and Strategy
                </p>
                <p>
                    – Collaborative development of CRM strategies aligned with your business goals. <br>
                    – Consulting services to optimize CRM usage for maximum impact.
                </p>
                <p class="text-primary fs-5">
                    User Training and Adoption
                </p>
                <p>
                    – Comprehensive training programs to ensure effective use of CRM systems. <br>
                    – Strategies to promote user adoption and maximize the benefits of CRM.
                </p>
                <p class="text-primary fs-5">
                    Data Migration and Management
                </p>
                <p>
                    – Smooth migration of existing data into the CRM system. <br>
                    – Ongoing data management strategies to maintain data accuracy and relevance.
                </p>
                <p class="text-primary fs-5">
                    CRM Support and Maintenance
                </p>
                <p>
                    – Responsive support services to address any CRM-related queries or challenges. <br>
                    – Regular maintenance to ensure the continued optimal performance of CRM systems.
                </p>
               
            </div>
        </div>
    </div>

</div>



 <!-- end body content  -->

 <!-- before footer  -->
<div class=" wow animate__zoomIn">
  <div class="d-flex "
    style="
      background-image: url('https://images.unsplash.com/photo-1587560699334-bea93391dcef?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
      height: 400px;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      /* filter: blur(5px); */
      /* opacity: 70%;    */
      /* mask: 5px;  */
    "
  >
       <div class="d-flex justify-content-center align-items-center flex-column mb-3 " style="height: 100%; width: 100%; background-color: rgba(0, 0, 0,0.7);">
          <div class="  text-white text-center fs-1 ">
            <b>Ready to Grow Your Business?</b>
          </div>
          <div class=" text-white text-center fs-5 ">Explore cutting-edge IT solutions. Start your journey to innovation now!</div>
          <a class="btn-outline-primary btn mt-2 fs-5 text-white text-decoration-none rounded p-3 text-center" href="{% url 'contact' %}">Connect With US</a>
       </div>
    
  </div>
</div>




{% endblock %}