{% extends 'base.html' %}

{% block title_block%}
Decodes Lab SDN BHD
{% endblock%}

{% block body_block%}

<div class=" wow animate__zoomIn">
   <div class="position-relative "
     style="
       background-image: url('https://images.unsplash.com/photo-1498050108023-c5249f4df085?q=80&w=1472&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
       height: 400px;
       width: 100%;
       background-repeat: no-repeat;
       background-position: center;
       
       /* filter: blur(5px); */
       /* opacity: 70%;    */
       /* mask: 5px;  */
     "
   >
        <div class="" style="height: 100%; width: 100%; background-color: rgba(0, 0, 0,0.7);">
           <h2 class="text-white mt-5 ms-5 position-absolute top-50 rounded p-3 fs-1 "  >
            <b> Cybersecurity Services </b>
           </h2>
         </div>
     
   </div>
</div>

 <!-- body content  -->
<div class="container-fluid wow animate__zoomIn">
    <div class="row">
        
        <div class="col-12 " style="background-color: #F1F1F1;">
            <div class="ms-5 my-5 " >
                <p class="text-primary fs-5">
                    - Protecting Your Digital Frontier
                </p>
                <h3>
                    Comprehensive Cybersecurity Services
                </h3>
                <p>
                    In an era where digital threats are constantly evolving, safeguarding your organization’s sensitive information and digital assets is paramount. Our Cybersecurity Services are designed to provide robust protection, ensuring your digital landscape remains secure, compliant, and resilient against cyber threats.
                </p>
              
            </div>
        </div>


        <div class="col-12 " >
            <div class="ms-5 my-5 " >
                
                <p class="text-primary fs-5">
                    Threat Detection and Prevention
                </p>
                <p>
                    – Proactively identify and neutralize potential threats across web, mobile, and desktop applications. <br>
                    – Real-time monitoring and response to emerging cybersecurity risks.
                </p>
                <p class="text-primary fs-5">
                    Regulatory Compliance Assurance
                </p>
                <p>
                    – Ensure continuous compliance with industry regulations and standards such as PCI DSS, HIPAA, GDPR, NYDFS, and more. <br>
                    – Navigate complex regulatory landscapes with confidence and adherence.
                </p>
                <p class="text-primary fs-5">
                    Managed Security Services
                </p>
                <p>
                    – Expertly managed security infrastructure to safeguard your digital assets. <br>
                    – Comprehensive vulnerability management for continuous protection. <br>
                    – Managed Detection and Response (MDR) services to swiftly respond to security incidents..
                </p>
                <p class="text-primary fs-5">
                    Security Assessment and Planning
                </p>
                <p>
                    – Strategic IT security consulting tailored to your organizational goals. <br>
                    – In-depth security assessments covering various aspects, including specialized assessments such as medical device security evaluations.
                </p>
                <p class="text-primary fs-5">
                    Application Security
                </p>
                <p>
                    – Rigorous security code reviews for robust application defense. <br>
                    – Mobile device and application management for secure mobile environments. <br>
                    – Cloud security solutions customized to your specific requirements. <br>
                    – Web application security measures to defend against evolving online threats.
                </p>
                <p class="text-primary fs-5">
                    Network Protection
                </p>
                <p>
                    – Security Information and Event Management (SIEM) for real-time threat detection. <br>
                    – DDoS protection to mitigate and prevent distributed denial-of-service attacks. <br>
                    – Email security solutions to safeguard against phishing and other email-based threats. <br>
                    – Implementation and configuration of firewalls, IDS/IPS, and DLP for comprehensive network defense. <br>
                    – Antivirus protection to detect and eliminate malware threats.
                </p>
                <p class="text-primary fs-5">
                    Stress Testing
                </p>
                <p ">
                    – Emulation of DDoS/DoS attacks to assess system resilience and response.
                </p>
                 
                <br>
            </div>
        </div>
    </div>

</div>



 <!-- end body content  -->

 <!-- before footer  -->
<div class=" wow animate__zoomIn">
  <div class="d-flex "
    style="
      background-image: url('https://images.unsplash.com/photo-1587560699334-bea93391dcef?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
      height: 400px;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      /* filter: blur(5px); */
      /* opacity: 70%;    */
      /* mask: 5px;  */
    "
  >
       <div class="d-flex justify-content-center align-items-center flex-column mb-3 " style="height: 100%; width: 100%; background-color: rgba(0, 0, 0,0.7);">
          <div class="  text-white text-center fs-1 ">
            <b>Ready to Grow Your Business?</b>
          </div>
          <div class=" text-white text-center fs-5 ">Explore cutting-edge IT solutions. Start your journey to innovation now!</div>
          <a class="btn-outline-primary btn mt-2 fs-5 text-white text-decoration-none rounded p-3 text-center" href="{% url 'contact' %}">Connect With US</a>
       </div>
    
  </div>
</div>




{% endblock %}