{% extends 'base.html' %}

{% block title_block%}
Decodes Lab SDN BHD
{% endblock%}

{% block body_block%}

<div class=" wow animate__zoomIn">
   <div class="position-relative "
     style="
       background-image: url('https://images.unsplash.com/photo-1498050108023-c5249f4df085?q=80&w=1472&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
       height: 400px;
       width: 100%;
       background-repeat: no-repeat;
       background-position: center;
       
       /* filter: blur(5px); */
       /* opacity: 70%;    */
       /* mask: 5px;  */
     "
   >
        <div class="" style="height: 100%; width: 100%; background-color: rgba(0, 0, 0,0.7);">
           <h2 class="text-white mt-5 ms-5 position-absolute top-50 rounded p-3 fs-1 "  >
            <b> Data Security Solutions </b>
           </h2>
         </div>
     
   </div>
</div>

 <!-- body content  -->
<div class="container-fluid wow animate__zoomIn">
    <div class="row">
        
        <div class="col-12 " style="background-color: #F1F1F1;">
            <div class="ms-5 my-5 " >
                <p class="text-primary fs-5">
                    - Protecting What Matters Most
                </p>
                <h3>
                    Safeguarding Your Digital Assets
                </h3>
                <p>
                    In today’s interconnected world, data is a critical asset for businesses of all sizes. Ensuring the security and integrity of your data is paramount to safeguarding your reputation, complying with regulations, and maintaining the trust of your clients. Our Data Security Solutions are designed to provide robust protection against evolving cyber threats, offering you peace of mind in an ever-changing digital landscape.
                </p>
              
            </div>
        </div>


        <div class="col-12 " >
            <div class="ms-5 my-5 " >
                
                <p class="text-primary fs-5">
                    Comprehensive Threat Detection and Prevention
                </p>
                <p>
                    – Identify and neutralize potential threats through advanced threat detection mechanisms. <br>
                    – Proactive monitoring and real-time response to potential security breaches.
                </p>
                <p class="text-primary fs-5">
                    Data Encryption and Confidentiality
                </p>
                <p>
                    – Implement state-of-the-art encryption techniques to secure sensitive data. <br>
                    – Safeguard information during transmission and storage to mitigate the risk of unauthorized access.
                </p>
                <p class="text-primary fs-5">
                    Access Control and Authentication
                </p>
                <p>
                    – Ensure that only authorized individuals have access to specific data sets. <br>
                    – Implement multi-factor authentication for an additional layer of security.
                </p>
                <p class="text-primary fs-5">
                    Regular Security Audits and Compliance Checks
                </p>
                <p>
                    – Conduct thorough security audits to identify vulnerabilities and weaknesses. <br>
                    – Ensure compliance with industry regulations and standards.
                </p>
                <p class="text-primary fs-5">
                    Incident Response and Recovery
                </p>
                <p>
                    – Develop and implement a robust incident response plan. <br>
                    – Minimize downtime and data loss through efficient recovery strategies.
                </p>
                <p class="text-primary fs-5">
                    Employee Training and Awareness Programs
                </p>
                <p>
                    – Equip your staff with the knowledge and skills to identify and respond to potential security threats. <br>
                    – Foster a culture of security awareness to reduce the risk of human error.
                </p>
                 
                <br>
            </div>
        </div>
    </div>

</div>



 <!-- end body content  -->

 <!-- before footer  -->
<div class=" wow animate__zoomIn">
  <div class="d-flex "
    style="
      background-image: url('https://images.unsplash.com/photo-1587560699334-bea93391dcef?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
      height: 400px;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      /* filter: blur(5px); */
      /* opacity: 70%;    */
      /* mask: 5px;  */
    "
  >
       <div class="d-flex justify-content-center align-items-center flex-column mb-3 " style="height: 100%; width: 100%; background-color: rgba(0, 0, 0,0.7);">
          <div class="  text-white text-center fs-1 ">
            <b>Ready to Grow Your Business?</b>
          </div>
          <div class=" text-white text-center fs-5 ">Explore cutting-edge IT solutions. Start your journey to innovation now!</div>
          <a class="btn-outline-primary btn mt-2 fs-5 text-white text-decoration-none rounded p-3 text-center" href="{% url 'contact' %}">Connect With US</a>
       </div>
    
  </div>
</div>




{% endblock %}