{% extends 'base.html' %}

{% block title_block%}
Decodes Lab SDN BHD
{% endblock%}

{% block body_block%}

<div class=" wow animate__zoomIn">
   <div class="position-relative "
     style="
       background-image: url('https://images.unsplash.com/photo-1498050108023-c5249f4df085?q=80&w=1472&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
       height: 400px;
       width: 100%;
       background-repeat: no-repeat;
       background-position: center;
       
       /* filter: blur(5px); */
       /* opacity: 70%;    */
       /* mask: 5px;  */
     "
   >
        <div class="" style="height: 100%; width: 100%; background-color: rgba(0, 0, 0,0.7);">
           <h2 class="text-white mt-5 ms-5 position-absolute top-50 rounded p-3 fs-1 "  >
            <b> eCommerce </b>
           </h2>
         </div>
     
   </div>
</div>

 <!-- body content  -->
<div class="container-fluid wow animate__zoomIn">
    <div class="row">
        
        <div class="col-12 " style="background-color: #F1F1F1;">
            <div class="ms-5 my-5 " >
                <p class="text-primary fs-5">
                    - Our eCommerce Services Offerings
                </p>
                <h3>
                    Unleash the Power of Digital Commerce with Our eCommerce Solutions
                </h3>
                <p>
                    Welcome to our eCommerce Services, where we empower businesses to thrive in the digital marketplace through cutting-edge eCommerce solutions. In the era of online transactions and digital experiences, our comprehensive suite of services is designed to elevate your brand, optimize customer experiences, and drive revenue growth through seamless and secure digital commerce.
              </p>
            </div>
        </div>


        <div class="col-12 " >
            <div class="ms-5 my-5 " >
                
                <p class="text-primary fs-5">
                    eCommerce Platform Development
                </p>
                <p>
                    – Customized eCommerce platform development to suit your unique business needs. <br>
                    – Integration of essential features for a user-friendly and scalable online store.
                </p>
                <p class="text-primary fs-5">
                    Mobile Commerce (mCommerce) Solutions
                </p>
                <p>
                    – Optimized shopping experiences tailored for various mobile devices. <br>
                    – Mobile app development for on-the-go access and convenient transactions.
                </p>
                <p class="text-primary fs-5">
                    Payment Gateway Integration
                </p>
                <p>
                    – Seamless integration of secure and diverse payment options for customer convenience. <br>
                    – Ensuring PCI compliance and robust transaction security.
                </p>
                <p class="text-primary fs-5">
                    User Experience (UX) and User Interface (UI) Design
                </p>
                <p>
                    – Intuitive and visually appealing design for a positive and engaging customer journey. <br>
                    – Streamlined navigation and conversion-focused design elements.
                </p>
                <p class="text-primary fs-5">
                    Inventory Management and Order Fulfillment
                </p>
                <p>
                    – Efficient management of product inventory and automated order fulfillment. <br>
                    – Real-time updates to keep inventory and orders synchronized.
                </p>
                <p class="text-primary fs-5">
                    eCommerce Consulting and Strategy
                </p>
                <p>
                    – Collaborative development of eCommerce strategies aligned with your business goals.<br>
                   – Consulting services to optimize eCommerce solutions for maximum impact.
                </p>
               
            </div>
        </div>
    </div>

</div>



 <!-- end body content  -->

 <!-- before footer  -->
<div class=" wow animate__zoomIn">
  <div class="d-flex "
    style="
      background-image: url('https://images.unsplash.com/photo-1587560699334-bea93391dcef?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
      height: 400px;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      /* filter: blur(5px); */
      /* opacity: 70%;    */
      /* mask: 5px;  */
    "
  >
       <div class="d-flex justify-content-center align-items-center flex-column mb-3 " style="height: 100%; width: 100%; background-color: rgba(0, 0, 0,0.7);">
          <div class="  text-white text-center fs-1 ">
            <b>Ready to Grow Your Business?</b>
          </div>
          <div class=" text-white text-center fs-5 ">Explore cutting-edge IT solutions. Start your journey to innovation now!</div>
          <a class="btn-outline-primary btn mt-2 fs-5 text-white text-decoration-none rounded p-3 text-center" href="{% url 'contact' %}">Connect With US</a>
       </div>
    
  </div>
</div>




{% endblock %}