{% extends 'base.html' %}

{% block title_block%}
Decodes Lab SDN BHD
{% endblock%}

{% block body_block%}

<div class="wow animate__zoomIn ">
   <div class="position-relative "
     style="
       background-image: url('https://images.unsplash.com/photo-1498050108023-c5249f4df085?q=80&w=1472&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
       height: 400px;
       width: 100%;
       background-repeat: no-repeat;
       background-position: center;
       
       /* filter: blur(5px); */
       /* opacity: 70%;    */
       /* mask: 5px;  */
     "
   >
        <div class="" style="height: 100%; width: 100%; background-color: rgba(0, 0, 0,0.7);">
           <h2 class="text-white mt-5 ms-5 position-absolute top-50 rounded p-3 fs-1 "  >
            <b> eLearning </b>
           </h2>
         </div>
     
   </div>
</div>

 <!-- body content  -->
<div class="container-fluid wow animate__zoomIn">
    <div class="row">
        
        <div class="col-12 " style="background-color: #F1F1F1;">
            <div class="ms-5 my-5 " >
                <p class="text-primary fs-5">
                    - Our eLearning Services Offerings
                </p>
                <h3>
                    Transforming Education with Innovative eLearning Solutions
                </h3>
                <p>
                    Welcome to our eLearning Services, where we redefine education by harnessing the power of technology to create engaging, accessible, and personalized learning experiences. In today’s dynamic world, traditional education boundaries are evolving, and our comprehensive suite of eLearning solutions is designed to empower learners, educators, and organizations on the journey to knowledge and skill mastery.
              </p>
            </div>
        </div>


        <div class="col-12 " >
            <div class="ms-5 my-5 " >
                
                <p class="text-primary fs-5">
                    Custom eLearning Development
                </p>
                <p>
                    – Tailored eLearning modules crafted to align with your educational objectives. <br>
                    – Engaging multimedia content, interactive assessments, and immersive learning experiences.
                </p>
                <p class="text-primary fs-5">
                    Learning Management System (LMS) Implementation
                </p>
                <p>
                    – Seamless integration of robust Learning Management Systems tailored to your needs. <br>
                    – Centralized platforms for content delivery, assessment, and learner progress tracking.
                </p>
                <p class="text-primary fs-5">
                    Mobile Learning (mLearning) Solutions
                </p>
                <p>
                    – Accessible learning experiences optimized for various mobile devices. <br>
                    – Flexibility for learners to access content anytime, anywhere.
                </p>
                <p class="text-primary fs-5">
                    Virtual Classroom and Webinars
                </p>
                <p>
                    – Interactive virtual classrooms for real-time collaboration and engagement. <br>
                    – Webinars for knowledge sharing, presentations, and interactive discussions.
                </p>
                <p class="text-primary fs-5">
                    Gamified Learning Experiences
                </p>
                <p>
                    – Intuitive gamification elements to enhance learner motivation and engagement. <br>
                    – Incorporation of game-like features to make learning enjoyable and effective.
                </p>
                <p class="text-primary fs-5">
                    eLearning Consulting and Strategy
                </p>
                <p>
                    – Collaborative development of eLearning strategies aligned with your educational goals. <br>
                    – Consulting services to optimize eLearning solutions for maximum impact.
                </p>
               
            </div>
        </div>
    </div>

</div>



 <!-- end body content  -->

 <!-- before footer  -->
<div class="wow animate__zoomIn ">
  <div class="d-flex "
    style="
      background-image: url('https://images.unsplash.com/photo-1587560699334-bea93391dcef?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
      height: 400px;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      /* filter: blur(5px); */
      /* opacity: 70%;    */
      /* mask: 5px;  */
    "
  >
       <div class="d-flex justify-content-center align-items-center flex-column mb-3 " style="height: 100%; width: 100%; background-color: rgba(0, 0, 0,0.7);">
          <div class="  text-white text-center fs-1 ">
            <b>Ready to Grow Your Business?</b>
          </div>
          <div class=" text-white text-center fs-5 ">Explore cutting-edge IT solutions. Start your journey to innovation now!</div>
          <a class="btn-outline-primary btn mt-2 fs-5 text-white text-decoration-none rounded p-3 text-center" href="{% url 'contact' %}">Connect With US</a>
       </div>
    
  </div>
</div>




{% endblock %}