{% extends 'base.html' %}

{% block title_block%}
Decodes Lab SDN BHD
{% endblock%}

{% block body_block%}

<div class=" wow animate__zoomIn">
   <div class="position-relative "
     style="
       background-image: url('https://images.unsplash.com/photo-1498050108023-c5249f4df085?q=80&w=1472&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
       height: 400px;
       width: 100%;
       background-repeat: no-repeat;
       background-position: center;
       
       /* filter: blur(5px); */
       /* opacity: 70%;    */
       /* mask: 5px;  */
     "
   >
        <div class="" style="height: 100%; width: 100%; background-color: rgba(0, 0, 0,0.7);">
           <h2 class="text-white mt-5 ms-5 position-absolute top-50 rounded p-3 fs-1 "  >
            <b> ERP </b>
           </h2>
         </div>
     
   </div>
</div>

 <!-- body content  -->
<div class="container-fluid wow animate__zoomIn">
    <div class="row">
        
        <div class="col-12 " style="background-color: #F1F1F1;">
            <div class="ms-5 my-5 " >
                <p class="text-primary fs-5">
                    - Our Custom ERP Services Offerings
                </p>
                <h3>
                    Streamline Your Operations with Custom ERP Solutions
                </h3>
                <p>
                    Welcome to our Custom ERP Services, where we redefine efficiency and connectivity in business operations through tailored Enterprise Resource Planning solutions. In the ever-evolving landscape of modern business, our comprehensive suite of services is designed to empower organizations with robust, scalable, and seamlessly integrated ERP systems customized to meet their unique needs.
              </p>
            </div>
        </div>


        <div class="col-12 " >
            <div class="ms-5 my-5 " >
                
                <p class="text-primary fs-5">
                    Tailored ERP Development
                </p>
                <p>
                    – Custom development of ERP solutions designed to align with your specific business processes. <br>
                    – Scalable architectures to accommodate growth and evolving operational requirements.
                </p>
                <p class="text-primary fs-5">
                    ERP Implementation and Integration
                </p>
                <p>
                    – Seamless integration of ERP systems with existing applications and databases. <br>
                    – Comprehensive implementation services to ensure a smooth transition.
                </p>
                <p class="text-primary fs-5">
                    Workflow Automation
                </p>
                <p>
                    – Automation of manual processes to enhance operational efficiency. <br>
                    – Workflow customization to match your organization’s unique business logic.
                </p>
                <p class="text-primary fs-5">
                    User Training and Adoption
                </p>
                <p>
                    – Comprehensive training programs to ensure effective use of the ERP system. <br>
                    – Strategies to promote user adoption and maximize the benefits of ERP.
                </p>
                <p class="text-primary fs-5">
                    Data Migration and Management
                </p>
                <p>
                    – Smooth migration of existing data into the ERP system. <br>
                    – Ongoing data management strategies to maintain accuracy and relevance.
                </p>
                <p class="text-primary fs-5">
                    ERP Support and Maintenance
                </p>
                <p>
                    – Responsive support services to address any ERP-related queries or challenges. <br>
                    – Regular maintenance to ensure the continued optimal performance of ERP systems.
                </p>
               
            </div>
        </div>
    </div>

</div>



 <!-- end body content  -->

 <!-- before footer  -->
<div class="wow animate__zoomIn ">
  <div class="d-flex "
    style="
      background-image: url('https://images.unsplash.com/photo-1587560699334-bea93391dcef?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
      height: 400px;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      /* filter: blur(5px); */
      /* opacity: 70%;    */
      /* mask: 5px;  */
    "
  >
       <div class="d-flex justify-content-center align-items-center flex-column mb-3 " style="height: 100%; width: 100%; background-color: rgba(0, 0, 0,0.7);">
          <div class="  text-white text-center fs-1 ">
            <b>Ready to Grow Your Business?</b>
          </div>
          <div class=" text-white text-center fs-5 ">Explore cutting-edge IT solutions. Start your journey to innovation now!</div>
          <a class="btn-outline-primary btn mt-2 fs-5 text-white text-decoration-none rounded p-3 text-center" href="{% url 'contact' %}">Connect With US</a>
       </div>
    
  </div>
</div>




{% endblock %}