{% extends 'base.html' %}

{% block title_block%}
Decodes Lab SDN BHD
{% endblock%}

{% block body_block%}

<div class=" wow animate__zoomIn">
   <div class="position-relative "
     style="
       background-image: url('https://images.unsplash.com/photo-1498050108023-c5249f4df085?q=80&w=1472&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
       height: 400px;
       width: 100%;
       background-repeat: no-repeat;
       background-position: center;
       
       /* filter: blur(5px); */
       /* opacity: 70%;    */
       /* mask: 5px;  */
     "
   >
        <div class="" style="height: 100%; width: 100%; background-color: rgba(0, 0, 0,0.7);">
           <h2 class="text-white mt-5 ms-5 position-absolute top-50 rounded p-3 fs-1 "  >
            <b>  Human Resources </b>
           </h2>
         </div>
     
   </div>
</div>

 <!-- body content  -->
<div class="container-fluid wow animate__zoomIn">
    <div class="row">
        
        <div class="col-12 " style="background-color: #F1F1F1;">
            <div class="ms-5 my-5 " >
                <p class="text-primary fs-5">
                    - Our Human Resources Services Offerings
                </p>
                <h3>
                    Transforming Human Capital with Comprehensive HR Solutions
                </h3>
                <p>
                    Welcome to our Human Resources Services, where we redefine the way organizations manage their most valuable asset—human capital. In the dynamic landscape of modern businesses, our comprehensive suite of services is designed to empower HR professionals with innovative solutions, optimizing talent acquisition, employee engagement, and overall workforce management.
              </p>
            </div>
        </div>


        <div class="col-12 " >
            <div class="ms-5 my-5 " >
                
                <p class="text-primary fs-5">
                    Talent Acquisition and Recruitment
                </p>
                <p>
                    – Strategic recruitment services to attract and acquire top talent. <br>

                    – Customized solutions for efficient candidate sourcing, screening, and onboarding.
                <p class="text-primary fs-5">
                    HR Consulting and Strategy
                </p>
                <p>
                    – Collaborative development of HR strategies aligned with organizational goals. <br>
                    – Consulting services to optimize HR processes for maximum impact.
                </p>
                <p class="text-primary fs-5">
                    Employee Engagement and Retention
                </p>
                <p>
                    – Employee engagement programs to foster a positive workplace culture. <br>
                    – Strategies for talent retention and reducing turnover.
                <p class="text-primary fs-5">
                    Performance Management

                </p>
                <p>
                    – Development and implementation of performance management systems. <br>

                    – Tools and methodologies for continuous feedback and improvement.
                </p>
                <p class="text-primary fs-5">
                    Learning and Development
                </p>
                <p>
                    – Training programs and eLearning solutions for employee skill development. <br>
                    – Customized learning paths to align with career growth and organizational goals.
                </p>
                <p class="text-primary fs-5">
                    HR Technology Integration

                </p>
                <p>
                    – Seamless integration of HR technology solutions for streamlined processes. <br>
                    – Implementation and customization of HRIS (Human Resources Information Systems).

                </p>
               
            </div>
        </div>
    </div>

</div>



 <!-- end body content  -->

 <!-- before footer  -->
<div class=" wow animate__zoomIn">
  <div class="d-flex "
    style="
      background-image: url('https://images.unsplash.com/photo-1587560699334-bea93391dcef?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
      height: 400px;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      /* filter: blur(5px); */
      /* opacity: 70%;    */
      /* mask: 5px;  */
    "
  >
       <div class="d-flex justify-content-center align-items-center flex-column mb-3 " style="height: 100%; width: 100%; background-color: rgba(0, 0, 0,0.7);">
          <div class="  text-white text-center fs-1 ">
            <b>Ready to Grow Your Business?</b>
          </div>
          <div class=" text-white text-center fs-5 ">Explore cutting-edge IT solutions. Start your journey to innovation now!</div>
          <a class="btn-outline-primary btn mt-2 fs-5 text-white text-decoration-none rounded p-3 text-center" href="{% url 'contact' %}">Connect With US</a>
       </div>
    
  </div>
</div>




{% endblock %}