{% extends 'base.html' %}

{% block title_block%}
Decodes Lab SDN BHD
{% endblock%}

{% block body_block%}

<div class=" wow animate__zoomIn">
   <div class="position-relative "
     style="
       background-image: url('https://images.unsplash.com/photo-1498050108023-c5249f4df085?q=80&w=1472&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
       height: 400px;
       width: 100%;
       background-repeat: no-repeat;
       background-position: center;
       
       /* filter: blur(5px); */
       /* opacity: 70%;    */
       /* mask: 5px;  */
     "
   >
        <div class="" style="height: 100%; width: 100%; background-color: rgba(0, 0, 0,0.7);">
           <h2 class="text-white mt-5 ms-5 position-absolute top-50 rounded p-3 fs-1 "  >
            <b> POS </b>
           </h2>
         </div>
     
   </div>
</div>

 <!-- body content  -->
<div class="container-fluid wow animate__zoomIn">
    <div class="row">
        
        <div class="col-12 " style="background-color: #F1F1F1;">
            <div class="ms-5 my-5 " >
                <p class="text-primary fs-5">
                    - Our POS Solutions Offerings
                </p>
                <h3>
                    Elevate Your Business with Innovative POS Solutions
                </h3>
                <p>
                    Welcome to our Point of Sale (POS) Solutions page, where we offer state-of-the-art solutions designed to enhance your business operations, streamline transactions, and elevate the overall customer experience. In the dynamic world of retail and hospitality, our comprehensive suite of POS solutions is tailored to meet the unique needs of your business, providing a seamless and efficient point-of-sale experience.
              </p>
            </div>
        </div>


        <div class="col-12 " >
            <div class="ms-5 my-5 " >
                
                <p class="text-primary fs-5">
                    Flexible Point of Sale Systems
                </p>
                <p>
                    – Tailored POS systems to match the specific requirements of your business. <br>

                    – User-friendly interfaces for quick and efficient transaction processing.
                <p class="text-primary fs-5">
                    Inventory Management Integration
                </p>
                <p>
                    – Seamless integration with inventory management for real-time stock tracking. <br>

                    – Automatic updates to prevent stockouts and streamline restocking processes.
                </p>
                <p class="text-primary fs-5">
                    Payment Processing Solutions
                </p>
                <p>
                    – Secure and reliable payment processing for various payment methods. <br>

                    – Integration with EMV, NFC, and mobile payment technologies for versatility.
                </p>
                <p class="text-primary fs-5">
                    Customer Relationship Management (CRM) Integration

                </p>
                <p>
                    – Integration with CRM systems for a holistic view of customer interactions. <br>

                    – Loyalty program management to enhance customer retention.
                </p>
                <p class="text-primary fs-5">
                    Analytics and Reporting Tools
                </p>
                <p>
                    – Comprehensive analytics for insights into sales trends and customer behavior. <br>
                    – Customizable reports for informed decision-making and strategic planning.
                </p>
                <p class="text-primary fs-5">
                    User Training and Support
                </p>
                <p>
                    – Comprehensive training programs for staff to maximize the use of POS systems. <br>
                    – Responsive support services to address any queries or challenges.


                </p>
               
            </div>
        </div>
    </div>

</div>



 <!-- end body content  -->

 <!-- before footer  -->
<div class=" wow animate__zoomIn">
  <div class="d-flex "
    style="
      background-image: url('https://images.unsplash.com/photo-1587560699334-bea93391dcef?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
      height: 400px;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      /* filter: blur(5px); */
      /* opacity: 70%;    */
      /* mask: 5px;  */
    "
  >
       <div class="d-flex justify-content-center align-items-center flex-column mb-3 " style="height: 100%; width: 100%; background-color: rgba(0, 0, 0,0.7);">
          <div class="  text-white text-center fs-1 ">
            <b>Ready to Grow Your Business?</b>
          </div>
          <div class=" text-white text-center fs-5 ">Explore cutting-edge IT solutions. Start your journey to innovation now!</div>
          <a class="btn-outline-primary btn mt-2 fs-5 text-white text-decoration-none rounded p-3 text-center" href="{% url 'contact' %}">Connect With US</a>
       </div>
    
  </div>
</div>




{% endblock %}