{% extends 'base.html' %}

{% block title_block%}
Decodes Lab SDN BHD
{% endblock%}

{% block body_block%}

<div class=" wow animate__zoomIn">
   <div class="position-relative "
     style="
       background-image: url('https://images.unsplash.com/photo-1498050108023-c5249f4df085?q=80&w=1472&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
       height: 400px;
       width: 100%;
       background-repeat: no-repeat;
       background-position: center;
       
       /* filter: blur(5px); */
       /* opacity: 70%;    */
       /* mask: 5px;  */
     "
   >
        <div class="" style="height: 100%; width: 100%; background-color: rgba(0, 0, 0,0.7);">
           <h2 class="text-white mt-5 ms-5 position-absolute top-50 rounded p-3 fs-1 "  >
            <b>  UI/UX Design </b>
           </h2>
         </div>
     
   </div>
</div>

 <!-- body content  -->
<div class="container-fluid wow animate__zoomIn">
    <div class="row">
        
        <div class="col-12 " style="background-color: #F1F1F1;">
            <div class="ms-5 my-5 " >
                <p class="text-primary fs-5">
                    - Our UI/UX Design Offerings
                </p>
                <h3>
                    Elevate Your Digital Presence with Exceptional UI/UX Design Services
                </h3>
                <p>
                    In the competitive digital landscape, user experience (UX) and user interface (UI) design play a pivotal role in shaping the success of your online presence. Our UI/UX Design Services are meticulously crafted to enhance the user journey, captivate your audience, and elevate your digital brand to new heights.
                </p>
              
            </div>
        </div>


        <div class="col-12 " >
            <div class="ms-5 my-5 " >
                
                <p class="text-primary fs-5">
                    User-Centric Design Solutions
                </p>
                <p>
                    – Craft intuitive and user-friendly interfaces that prioritize a seamless user experience. <br>
                    – Understand user behaviors and preferences to create designs that resonate with your target audience.
                </p>
                <p class="text-primary fs-5">
                    Responsive Web Design
                </p>
                <p>
                    – Ensure your digital platforms are optimized for various devices, providing a consistent and engaging experience across desktops, tablets, and smartphones. <br>
                </p>
                <p class="text-primary fs-5">
                    Interactive Prototyping
                </p>
                <p>
                    – Bring your concepts to life with interactive prototypes that allow for real-time user feedback. <br>
                    – Iterative design processes to refine and perfect the user journey.
                </p>
                <p class="text-primary fs-5">
                    Visual Identity and Branding
                </p>
                <p>
                    – Develop a cohesive visual identity that aligns with your brand values and resonates with your audience. <br>
                    – Consistent branding elements across all digital touchpoints for a unified and memorable user experience.
                </p>
                <p class="text-primary fs-5">
                    Usability Testing and Optimization
                </p>
                <p>
                    – Conduct thorough usability testing to identify and address potential pain points in the user journey. <br>
                    – Continuous optimization based on user feedback and evolving industry trends.
                </p>
                <p class="text-primary fs-5">
                    Mobile App Design
                </p>
                <p>
                    – Tailored UI/UX design for mobile applications to ensure optimal functionality and user engagement. <br>
                    – Seamless integration with native mobile features for a cohesive user experience.
                </p>
               
            </div>
        </div>
    </div>

</div>



 <!-- end body content  -->

 <!-- before footer  -->
<div class="wow animate__zoomIn ">
  <div class="d-flex "
    style="
      background-image: url('https://images.unsplash.com/photo-1587560699334-bea93391dcef?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
      height: 400px;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      /* filter: blur(5px); */
      /* opacity: 70%;    */
      /* mask: 5px;  */
    "
  >
       <div class="d-flex justify-content-center align-items-center flex-column mb-3 " style="height: 100%; width: 100%; background-color: rgba(0, 0, 0,0.7);">
          <div class="  text-white text-center fs-1 ">
            <b>Ready to Grow Your Business?</b>
          </div>
          <div class=" text-white text-center fs-5 ">Explore cutting-edge IT solutions. Start your journey to innovation now!</div>
          <a class="btn-outline-primary btn mt-2 fs-5 text-white text-decoration-none rounded p-3 text-center" href="{% url 'contact' %}">Connect With US</a>
       </div>
    
  </div>
</div>




{% endblock %}